<!DOCTYPE web-app PUBLIC
	 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<servlet>
		<servlet-name>simpleRobot</servlet-name>
		<servlet-class>com.macyou.web.SimpleServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>simpleRobot</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>springWeb</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springWeb</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>



</web-app>
